



#reddit {background: #ff4500;}
#reddit img {width: 60px;}

/*#GKeep1 {background: #ffbb00;}
#GKeep1 img {width: 48px;}*/

/*#GKeep2 {background: #ffbb00;}
#GKeep2 img {width: 48px;}*/

#twitch {background: #6441a5;}
#twitch img {width: 40px;}



/*#vk {background: #3573B9;}
#vk img {width: 80px;}*/

/*#GDrive1 {background: #fff;}
#GDrive1 img {width: 65px;}*/

/*#GDrive2 {background: #fff;}
#GDrive2 img {width: 65px;}*/



#github {background: #25292e;}
#github img {width: 60px;}

#deviantart {background: #00E59B;}
#deviantart img {width: 40px;}

#outlook {background: #006DBF;}
#outlook img {width: 90px;}

#jenkins {background: #DA3C33;}
#jenkins img {width: 50px;}

#sgs {background: #FF9092;}
#sgs img {width: 80px;margin-top:5px;}

#multicloud {background: #A6000E;}
#multicloud img {width: 80px;}

#pre {background: #E50000;}
#pre img {width: 80px;margin-bottom: 7px;}

#jira {background: #2580F7;}
#jira img {width: 70px;}

#incidencias {background: #FC631D;}
#incidencias img {width: 60px;}

#gms {background: #B13A82;}
#gms img {width: 60px;}

#paas-d {background: #1A1A1A;}
#paas-d img {width: 60px;}

#paas-p {background: #1A1A1A;}
#paas-p img {width: 60px;}

#zeplin {background: #F7B821;}
#zeplin img {width: 60px;}	

#excalidraw {background: #9DA2A6;}
#excalidraw img {width: 50px;}

#notion {background: #FFF9F3;}
#notion img {width: 60px;}

#gmail {background: #D42E35;}
#gmail img {width: 60px;}

#whatsapp {background: #3DBC4D;}
#whatsapp img {width: 60px;}

#stadia {background: #C22242;}
#stadia img {width: 60px;}

#cookidoo {background: #00993D;}
#cookidoo img {width: 80px;}

#google-drive {background: #4D76B6;}
#google-drive img {width: 60px;}

#simplenote {background: #4690D2;}
#simplenote img {width: 70px;}

#bankia {background: #C3CC11;}
#bankia img {width: 45px;}


#youtube {background: #F70000;}
#youtube img {width: 75px;}

#spotify {background: #85AB3C;}
#spotify img {width: 65px;}

#clip-converter {background: #106F86;}
#clip-converter img {width: 80px;}

#rarbg {background: #3860BB;}
#rarbg img {width: 110px;}

#wallhaven {background: #303030;}
#wallhaven img {width: 170px}

#netflix {background: #DC0913;}
#netflix img {width: 60px}

#showrss {background: #E0B35E;}
#showrss img {width: 55px}

#elmundo {background: #6583A1;}
#elmundo img {width: 75px}

#elpais {background: #01699D;}
#elpais img {width: 185px}

#as {background: #BA1825;}
#as img {width: 85px}

#feedly {background: #87BF31;}
#feedly img {width: 65px}

#gag {background: #000000;}
#gag img {width: 80px}

#eol {background: #38592E;}
#eol img {width: 80px}

#forocoches {background: #2ECF9C;}
#forocoches img {width: 120px}

#crackwatch {background: #0A0C1B;}
#crackwatch img {width: 60px}

#clubvector {background: #AB7493;}
#clubvector img {width: 60px}

#amazon {background: #F79400;}
#amazon img {width: 60px}

#uber {background: #77BB40;}
#uber img {width: 80px}

#glovo {background: #009C7E;}
#glovo img {width: 80px}

#justeat {background: #F77C00;}
#justeat img {width: 170px}
