@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');



html,body {
    font-family: 'Nixie One', sans-serif;
    font-size: 18px;
    background: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    margin: 0px;
    
}

img {
    height: 525px;
    width: 1000px;
    object-fit: cover;
    border: 2px solid #980404;
    /* border-bottom: none; */
    margin-bottom: -3px;

}

nav {
    color: #980404;
    background-color: ##1e1e1e;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0px;
    text-align: center;
    border: 2px solid #980404;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

ul {
    list-style-type: none;
    margin-left: -35px;
    margin-top: 5px;
    margin-bottom: 5px;



}

li {
    margin: 13px;
}

/* div.user {
    background-color: #24283b;
    color: white;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding: 3px;
    border: 1px solid white;
}

div.taskbar {
    color: #a9b1d6;
    background-color: #24283b;
    border: 1px solid #a9b1d6;
    padding: 3px;   
} */

.clock-box {
    position: relative;
    color: #e0c1a6;
    background-color: #1e1e1e;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: #e0c1a6;

}

a:hover {
    color: #980404;
}

input {
    background-color: #1e1e1e;
    font: 16px 'Nixie One', monospace;
    color: #e0c1a6;
    height: 100%;
    width: 100%;
    border: 2px solid #980404;
    border-top: none;
    text-align: center;
    margin-top: 0px;
    outline: none;
    padding: 5px;
  }

input::placeholder {
    color: #e0c1a6;
}
