@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Displa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Patrick+Hand+SC&display=swap');


html,body {
    font-family: 'Patrick Hand SC', sans-serif;
    font-size: 33px;
    /*background: #1e1e1e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -50%);*/
    padding: 0px;
    margin: 0px; 
    background-image: url(caravaggio.png);
    background-repeat: no-repeat;    
    background-color: black;
    background-position-y: bottom;
    background-position-x: right;
    height: 962px;
}

img {
    height: 525px;
    width: 1000px;
    object-fit: cover;
    border: 2px solid #980404;
    /* border-bottom: none; */
    margin-bottom: -3px;

}

nav {
    color: #980404;
    /*background-color: ##1e1e1e;*/
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 0px;
    text-align: center;
    /*border: 2px solid #980404;*/
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
    
}

ul {
    list-style-type: none;
    /*margin-left: -35px;*/
    margin-top: 25px;
    /*margin-bottom: 5px;*/



}

li {
    /* margin: 13px; */
}

/* div.user {
    background-color: #24283b;
    color: white;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding: 3px;
    border: 1px solid white;
}

div.taskbar {
    color: #a9b1d6;
    background-color: #24283b;
    border: 1px solid #a9b1d6;
    padding: 3px;   
} */

.clock-box {
    /*position: relative;*/
    color: #dfbc92;
    /*background-color: #1e1e1e;*/
    /*flex-direction: row;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    padding: 4%;
    width: 300px;
    float:right;
    text-align: right;
    font-size: 72px;
    font-family: 'Patrick Hand SC', sans-serif;
    font-weight: bold;
    
}

a {
    text-decoration: none;
    color: #dfbc92;

}

a:hover {
    color: #980404;
}

input {
    background-color: #1e1e1e;
    font: 'Patrick Hand SC', sans-serif;
    color: #e0c1a6;
    height: 100%;
    width: 100%;
    border: 2px solid #980404;
    border-top: none;
    text-align: center;
    margin-top: 0px;
    outline: none;
    padding: 5px;
  }

input::placeholder {
    color: #e0c1a6;
}
